body{
    background-color: #015C65;
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    color: #ffc61a;
    margin-left: 20px;
    font-family: 'Overlock', cursive;
    font-size: 3em;
}

svg{
    display: inline;
}

#skeleton{
	max-width: 200px;
	background-color: #b3e6ff;
}

.settings{
    background-color: #028E9B;
    margin-top: 20px;
}

.genBtn{
    margin: 20px auto 10px auto;
    text-align: center;
    background-color: #028E9B;
    padding: 5px;
    border: 1px solid #ffc61a;
    border-radius: 5px;
    color: #ffc61a;
    font-size: x-large;
    font-family: 'Arial', sans-serif;
}

.genBtn:hover{
    background-color: #03a1b0;
}

.centered{
  text-align: center;
}

.result{
    color:#ffc61a;
    padding: 10px;
    font-size: xx-large;
    font-family: 'Times New Roman', serif;
}

a{
    color:#ffc61a;
}

a:hover{
    color:yellow;
}

strong{
    color: #ffd966;
}

input{
    padding: 5px;
    font-size: 1.2em
}

.input-group{
    display: inline-block;
}

.input-group-label{
    background-color: #80d4ff;
    font-size: 1.2em;
    padding: 5px;
}

.input-group-field{
    background-color: #b3e6ff;
    width: 50px;
}

.input-group-field:focus{
    background-color: #b3e6ff;
}

.about{
    margin-left: 20px;
    color: #b3e6ff;
}
